// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.icon-bg{
  i{
    color:white !important;
    margin-bottom: 13px;
    margin-top: 12px !important;
    float: left;
  }
}
